@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 16px;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

body,
html {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

/* ---------------------------- HEADER ---------------------------- */

.header {
    background-color: #FAF9F6;
    padding: 10px 40px;

    grid-area: 1 / 2 / 2 / 3;

    display: grid;
    grid-template: 1fr 1fr / 1fr;
}

.header > div:first-child {
    grid-area: 1 / 1 / 2 / 2;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
}

.header > div:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
    
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-between;
}

.search-container {
    display: grid;
    grid-template-columns: auto minmax(150px, 100%);
    gap: 30px;
}

.search-container img {
    width: 40px;
    height: auto;
}

.search-bar {
    background-color: #D3D3D3;
    border-radius: 30px;
}

.search-container + div {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 40px;
    align-items: center;
}

.bell-icon {
    width: 32px;
    height: auto;
}

.mini-display-picture {
    width: 60px;
    height: auto;
}

.search-container + div > p {
    font-size: 1.55rem;
    font-weight: 600;
}

.welcome-container {
    display: grid;
    grid-template: 1fr 1fr / auto 1fr;
    row-gap: 5px;
    column-gap: 20px;
}

.welcome-container img {
    width: 100px;
    height: auto;

    grid-area: 1 / 1 / 3 / 2;
}

.welcome-message {
    margin: 0;
    
    grid-area: 1 / 2 / 2 / 3;
    align-self: end;
}

.user-name {
    margin: 0;
    font-size: 1.8rem;
    font-weight: 600;

    grid-area: 2 / 2 / 3 / 3;
    align-self: start;
}

.welcome-container + div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

button {
    background-color: #D3D3D3;
    padding: 14px 35px;
    border: 1px #D3D3D3;
    border-radius: 30px;
    font-weight: 500;
}

/* ---------------------------- SIDEBAR ---------------------------- */

.sidebar {
    color: white;
    background-color: #0C0908;
    font-weight: 500;
    padding: 20px;

    grid-area: 1 / 1 / 3 / 2;
    
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-content: start;
    row-gap: 50px;
}

.nav-button {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    column-gap: 24px;
}

.nav-button > img {
    width: 32px;
    justify-self: center;
}

.nav-menu:first-child img {
    width: 100%;
}

.nav-button > p {
    font-size: 1.2rem;
}

/* ------------------------- MAIN CONTENT ------------------------- */

.main-content {
    background-color: #D3D3D3;
    padding: 25px 20px;

    grid-area: 2 / 2 / 3 / 3;

    display: grid;
    grid-template: 1fr 1fr / 5fr 2fr;
    gap: 25px;
}

.projects {
    grid-area: 1 / 1 / 3 / 2;

    display: grid;
    grid-template-rows: auto 1fr;
}

.projects > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 25px;
}

.projects .card {
    padding: 0;
    display: grid;
    grid-template: 4fr 1fr / 10px 1fr;
}

.colour-strip {
    border-radius: 15px 0 0 15px;
    background: linear-gradient(0deg, rgba(255,105,97,1) 0%, rgba(119,221,119,1) 100%);
    grid-area: 1 / 1 / 3 / 2;
}

.project-details {
    padding: 10px 30px 0 30px;
}

.project-buttons {
    padding: 0 30px 20px 30px;
    
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: end;
    justify-content: end;
    align-items: start;
    gap: 20px;
}

.project-buttons img {
    width: 30px;
    height: auto;
}

.announcements {
    grid-area: 1 / 2 / 2 / 3;

    display: grid;
    grid-template-rows: auto 1fr;
}

.announcements .card {
    padding: 30px;
    
    display: grid;
    grid-template-rows: repeat(2, 1fr 1px) 1fr;
    justify-content: start;
    align-items: center;
}

.announcement-message .title {
    font-weight: 600;
    font-size: 1.15rem;
    margin: 0 0 5px;
}

.announcement-message .content {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
}

.divider {
    background-color: #D3D3D3;
    height: 1px;
}

.top-cats {
    grid-area: 2 / 2 / 3 / 3;

    display: grid;
    grid-template-rows: auto 1fr;
}

.top-cats .card {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.top-cats .card > div {
    display: grid;
    grid-template-columns: minmax(25px, 60px) 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    column-gap: 20px;
    row-gap: 5px;
}

.top-cats .card p {
    margin: 0;
}

.top-cat-pic {
    width: 100%;
    
    grid-area: 1 / 1 / 3 / 2;
}

.top-cat-handle {
    grid-area: 1 / 2 / 2 / 3;
    align-self: end;
}

.top-cat-name {
    color: #666362;

    grid-area: 2 / 2 / 3 / 3;
    align-self: start;
}

.projects > p,
.announcements > p,
.top-cats > p {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 5px 0 15px;
}

.card {
    background-color: white;
    border-radius: 15px;
    padding: 10px 30px;
    box-shadow: 3px 3px 4px #5C5C5C;
}

.projects .card .title {
    font-size: 1.5rem;
    font-weight: 400;
}

.card > p:nth-child(2) {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.05rem;
}

